$primary-color-light: hsl(0, 0%, 94%);
$secondary-color-light: hsl(0, 3%, 13%);

$primary-color-dark: hsl(0, 10%, 10%);
$secondary-color-dark: hsl(0, 4%, 95%);

$font-family-base: verdana, sans-serif;
