$primary-color-light: hsl(0, 0%, 94%);
$secondary-color-light: hsl(216, 28%, 7%);

$primary-color-dark: hsl(216, 28%, 7%);
$secondary-color-dark: hsl(0, 4%, 95%);

$special-color-dark: hsl(215, 21%, 11%);

$font-family-base: verdana, sans-serif;
