%description__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.description__container__dark {
  @extend %description__container;
  background-color: $special-color-dark;
  color: $primary-color-dark;
}

.description__container__light {
  @extend %description__container;
  background-color: $primary-color-dark;
  color: $primary-color-light;
}

%description__container__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 75vh;
  width: 70vw;
  border-radius: 1em;
}

.description__container__text__dark {
  @extend %description__container__text;
  background-color: $primary-color-dark;
  color: $primary-color-light;
}

.description__container__text__light {
  @extend %description__container__text;
  background-color: $primary-color-light;
  color: $primary-color-dark;
}
